<template>
  <v-app>
    <v-row 
      class="fill-height pa-0 ma-0" 
      :style="{ backgroundImage: `url(${backImage})`, backgroundSize: 'cover', backgroundPosition: 'center'}"
      fluid
    >
      <v-col class="hidden-md-and-down pa-0" cols="6">
        <v-container ref="logoContainer" v-resize="setDimensions" fluid fill-height>
          <v-row align="center" justify="center">
            <v-img
              :src="bigLogo"
              contain
              :max-height="maxHeight"
              :max-width="maxWidth"
            ></v-img>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" xl="6" lg="6" md="12" sm="12" xs="12">
        <v-container fluid fill-height>
          <v-row align="center" justify="center">
            <v-card shaped class="mx-2 mt-2 mb-2" style="background-color: rgba(232,234,246,0.6);">
              <zoom-center-transition :duration="pageTransitionDuration" mode="out-in">
                <router-view class="mx-2 mt-2 mb-2" />
              </zoom-center-transition>
            </v-card>
          </v-row>
        </v-container> 
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { ZoomCenterTransition } from 'vue2-transitions'
import bImg from '@/img/6790904-free-background-wallpaper.jpg'
import lpLogoLight from '@/img/lp-logo-light.png'

export default {
  components: {
    ZoomCenterTransition
  },
  data () {
    return {
      pageTransitionDuration: 300,
      backImage: bImg,
      bigLogo: lpLogoLight,
      maxHeight: null,
      maxWidth: null
    }
  },
  mounted () {
    this.maxHeight = this.$refs.logoContainer.clientHeight * 0.8;
    this.maxWidth = this.$refs.logoContainer.clientWidth * 0.8;
  },
  methods: {
    setDimensions ({ width, height }) {
      this.maxHeight = height * 0.8;
      this.maxWidth = width * 0.8;
    }
  }
}
</script>