<template>
  <v-main>
    <v-row class="mx-2 mt-2">
      <v-col cols="12">
        <v-text-field
          label="Nombre de usuario / Email"
          name="login"
          prepend-icon="mdi-account"
          type="text"
          v-model="form.username"
          solo
          rounded
          dense
          background-color="white"
          @keyup.enter="handleLogin"
          :rules="[v => !!v || 'Usuario requerido']"
        />
      </v-col>
    </v-row>
    <v-row class="mx-2 mt-2">
      <v-col cols="12">
        <v-text-field
          label="Password"
          name="password"
          prepend-icon="mdi-lock"
          :type="showPassword ? 'text' : 'password'"
          v-model="form.password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"
          solo
          rounded
          dense
          background-color="white"
          @keyup.enter="handleLogin"
          :rules="[v => !!v || 'Password requerida']"
        />
      </v-col>
    </v-row>
    <v-row class="mx-2 mb-2 mt-2" justify="center">
      <v-btn color="primary" :disabled="!validateForm" @click="handleLogin" style="margin-right: 10px; margin-bottom: 10px; padding: 0px 5%;">
        <v-progress-circular
          v-show="loading"
          :indeterminate="true"
          :rotate="2"
          :size="14"
          :width="2"
          color="white"
          style="margin-right: 8px"
        ></v-progress-circular>
        <span>Acceder</span>
      </v-btn> 
    </v-row>
  </v-main>
</template>

<script>
import { login } from '@/services/authService'
import ligmaLogo from '@/img/ligma-logo.png'

export default {
  data () {
    return {
      loading: false,
      showPassword: false,
      image: ligmaLogo,
      form: {
        username: "",
        password: ""
      },
    };
  },
  computed: {
    validateForm () {
      return !!this.form.username && !!this.form.password;
    }
  },
  methods: {
    async handleLogin () {
      this.loading = true;
      if (this.validateForm) {
        try {
          const credentials = {
            user: this.form.username.toLowerCase(),
            password: this.form.password
          };
          const res = await login(credentials);
          if (!res.authorized) {
            this.$vToastify.warning('Credenciales incorrectas. Por favor, inténtelo de nuevo.');  
          }
        } catch {
          this.$vToastify.error('Credenciales incorrectas. Por favor, inténtelo de nuevo.');
        }
      } else {
        this.$vToastify.error('Debe rellenar todos los campos');
      }
      this.loading = false;
    },
  }
};
</script>